
<section id="portfolio">
    <div class="container">
        <div class="projects-grid">
            <ul>
                <li>
                    <input type="image" src="~/Content/images/100Seconds_thumb.png" name="saveForm" data-toggle="modal" class="btn" data-target="#portfolioModal01" />
                </li>
                <li>
                    <input type="image" src="~/Content/images/connectedWorlds_thumb.png" name="saveForm" data-toggle="modal" class="btn" data-target="#portfolioModal02" />
                </li>
                <li>
                    <input type="image" src="~/Content/images/microCam_BYOB_thumb.JPG" name="saveForm" data-toggle="modal" class="btn" data-target="#portfolioModal03" />

                </li>
                <li>
                    <input type="image" src="~/Content/images/r_drawer_thumb.JPG" name="saveForm" data-toggle="modal" class="btn" data-target="#portfolioModal04" />
                </li>
                <li>
                    <input type="image" src="~/Content/images/youAreGreen_thumb.png" name="saveForm" data-toggle="modal" class="btn" data-target="#portfolioModal05" />
                </li>
                <li>
                    <input type="image" src="~/Content/images/connectedWorlds_thumb.png" name="saveForm" data-toggle="modal" class="btn" data-target="#portfolioModal01" />
                </li>
                <li>
                    <input type="image" src="~/Content/images/connectedWorlds_thumb.png" name="saveForm" data-toggle="modal" class="btn" data-target="#portfolioModal01" />
                </li>
                <li>
                    <input type="image" src="~/Content/images/connectedWorlds_thumb.png" name="saveForm" data-toggle="modal" class="btn" data-target="#portfolioModal01" />
                </li>
                <li>
                    <input type="image" src="~/Content/images/connectedWorlds_thumb.png" name="saveForm" data-toggle="modal" class="btn" data-target="#portfolioModal01" />
                </li>
                <li>
                    <input type="image" src="~/Content/images/connectedWorlds_thumb.png" name="saveForm" data-toggle="modal" class="btn" data-target="#portfolioModal01" />
                </li>
                <li>
                    <input type="image" src="~/Content/images/connectedWorlds_thumb.png" name="saveForm" data-toggle="modal" class="btn" data-target="#portfolioModal01" />
                </li>
                <li>
                    <input type="image" src="~/Content/images/connectedWorlds_thumb.png" name="saveForm" data-toggle="modal" class="btn" data-target="#portfolioModal01" />
                </li>
            </ul>
        </div>


        <div id="portfolioModal01" class="modal fade portfolio-modal">

            <div class="modal-content col-sm-8 col-sm-offset-2">
                <h1>100 Seconds</h1>
                <img src="~/Content/images/100Seconds_thumb.png" />
                <div class="modal-links">
                    <a href="#">Download</a>
                    <p><a href="#">WebGL Version</a> Slow load time</p>
                </div>
            </div>
        </div>
        <div id="portfolioModal02" class="modal fade portfolio-modal">

            <div class="modal-content col-sm-8 col-sm-offset-2">
                <h1>ConnectedWorlds (Ludum Dare)</h1>
                <img src="~/Content/images/connectedWorlds_thumb.png" />
                <div class="modal-links">
                    <a href="#">Download</a>
                    <p><a href="#">WebGL Version</a> Slow load time</p>
                </div>
            </div>
        </div>
        <div id="portfolioModal03" class="modal fade portfolio-modal">

            <div class="modal-content col-sm-8 col-sm-offset-2">
                <h1>MicroCamCollector</h1>
                <img src="~/Content/images/microCam_BYOB_thumb.JPG" />
                <img src="~/Content/images/connectedWorlds_thumb.png" />
                <div class="modal-links">
                    <a href="#">Download</a>
                    <p><a href="#">WebGL Version</a> Slow load time</p>
                </div>
            </div>
        </div>
        <div id="portfolioModal04" class="modal fade portfolio-modal">

            <div class="modal-content col-sm-8 col-sm-offset-2">
                <h1>R_Drawer</h1>
                <img src="~/Content/images/microCam_BYOB_thumb.JPG" />
                <img src="~/Content/images/r_drawer_thumb.JPG" />
                <img src="~/Content/images/connectedWorlds_thumb.png" />
                <div class="modal-links">
                    <a href="#">Download</a>
                    <p><a href="#">WebGL Version</a> Slow load time</p>
                </div>
            </div>
        </div>
        <div id="portfolioModal05" class="modal fade portfolio-modal">

            <div class="modal-content col-sm-8 col-sm-offset-2">
                <h1>You are Green (Ludum Dare)</h1>
                <img src="~/Content/images/youAreGreen_thumb.png" />
                <div class="modal-links">
                    <a href="#">Download</a>
                    <p><a href="#">WebGL Version</a> Slow load time</p>
                </div>
            </div>
        </div>

    </div>
</section>
