
<section id="portfolio">
    <div class='contact'>
        <p> site being rebuilt currently</p>
        <p>CONTACT: <a href="mailto:james.brown@badartifacts.com">JAMES.BROWN@BADARTIFACTS.COM</a></p>
    </div>
    <div class="container">
        <div class="projects-grid">
            <ul>
                <li>
                    <a href="#youAreGreen"><img src="~/Content/images/youAreGreen_thumb.png" /></a>
                </li>
                <li>
                    <a href="#100seconds"><img src="~/Content/images/100Seconds_thumb.png" /></a>
                </li>
                <li>
                    <a href="#connectedworlds"><img src="~/Content/images/connectedWorlds_thumb.png" /></a>
                </li>
                <li>
                    <a href="#camcollector"><img src="~/Content/images/microCam_BYOB_thumb.JPG" /></a>
                </li>
                <li>
                    <a href="#r_drawer"><img src="~/Content/images/r_drawer_thumb.JPG" /></a>
                </li>
                <li>
                    <img src="~/Content/images/placeholder.png" />
                </li>
                <li>
                    <img src="~/Content/images/placeholder.png" />
                </li>
                <li>
                    <img src="~/Content/images/placeholder.png" />
                </li>

            </ul>       
    </div>

    <article id="youAreGreen" data-transition="right">
        <div class="modal-content">
            <h1>You are Green (Ludum Dare)</h1>
            <img src="~/Content/images/youAreGreen_thumb.png" />

            <div class="project-description">
                <p>
                    Simple action clicking game made for my second ludum dare (48 hour solo game jam).
                    Project was coded using C# in the Unity game engine. All assets were created
                    within the 48 hour time limit.
                </p>
            </div>

            <div class="modal-links">
                <p><a href="~/Content/Builds/LD31/LD31.html" target="_blank">WebGL Version</a> Slow load time</p>
            </div>
            <a href="#" data-button="close" class="close">&times;</a>
        </div>
    </article>
    <article id="100seconds">
        <div class="modal-content">
            <h1>100 Seconds</h1>
            <img src="~/Content/images/100Seconds_thumb.png" />
            <div class="project-description">
                <p>
                    Simple game made in Unity using javascript, collect all the pickups in each level to freeze the timer
                </p>
            </div>
            <div class="modal-links">
                <p><a href="~/Content/Builds/ColourPuck/100Seconds.html" target="_blank">WebGL Version</a> Slow load time</p>
            </div>
            <a href="#" data-button="close" class="close">&times;</a>
        </div>
    </article>
    <article id="connectedworlds">
        <div class="modal-content">
            <h1>ConnectedWorlds (Ludum Dare)</h1>
            <img src="~/Content/images/connectedWorlds_thumb.png" />
            <div class="project-description">
                <p>
                    Simple minimalist platformer made for my first ludum dare (48 hour solo game jam).
                    Project was coded using javascript in the Unity game engine. All assets were created
                    within the 48 hour time limit.
                </p>

            </div>

            <div class="modal-links">
                <p><a href="~/Content/Builds/LD30/Connected_Worlds.html" target="_blank">WebGL Version</a> Slow load time</p>
            </div>
            <a href="#" data-button="close" class="close">&times;</a>
        </div>
    </article>
    <article id="camcollector">
        <div class="modal-content">
            <h1>MicroCamCollector</h1>
            <img src="~/Content/images/microCam_BYOB_thumb.JPG" />
            <div class="project-description">
                <p>
                    Presented as part of the Wellington BYOB (bring your own beamer) pop-up exhibition.
                    A usb microscope connected to a web page collected microscopic images during the event and presented
                    the images in a large scrolling grid. Made with javascript.
                </p>

            </div>
            <a href="#" data-button="close" class="close">&times;</a>
        </div>

    </article>
    <article id="r_drawer">
        <div class="modal-content">
            <h1>R_Drawer</h1>
            <img src="~/Content/images/r_drawer_thumb.JPG" />
            <div class="project-description">
                <p>
                    Generates endless non-repeating visual patterns from small image sets. Made using javascript.
                </p>
            </div>
            <a href="#" data-button="close" class="close">&times;</a>
        </div>
    </article>

</section>
